.About-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.About-us p{
    max-width: 50%;
}