/* Banner Container */
.banner-container {
  padding: 0;
  max-width: 97vw;
  border-bottom: 1px solid gray;
}

/* Text Section */
.text-section {
  background-color: #f8f9fa;
  padding: 20px; /* Ensure some padding for better spacing */
}

/* Headings */
.text-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.text-content p {
  font-size: 1.2rem;
}

/* Image Section */
.image-section {
  padding: 0;
}

/* Banner Image */
.banner-image {
  width: 100%;
  height: auto;
  max-height: 50vh; /* Ensure image doesn't take too much height */
  object-fit: cover; /* Change to cover to ensure it fits nicely */
  margin-bottom: 20px; /* Adjust margin if needed */
}

/* Buttons */
.button-consultation,
.button-team {
  background-color: #010ED0;
  color: #ffffff;
  border: none;
  position: relative;
  padding: 10px 20px;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.button-team {
  background-color: #DEE0FF;
  color: #010ED0;
}

.button-consultation::after,
.button-team::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: currentColor;
  left: 0;
  bottom: 6px;
  transition: width 0.5s ease;
}

.button-consultation:hover::after,
.button-team:hover::after {
  width: 100%;
}

.button-consultation:hover,
.button-team:hover {
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .text-content h1 {
      font-size: 2rem;
  }
  
  .text-content p {
      font-size: 1rem;
  }
  
  .text-section, .image-section {
      text-align: center;
      padding: 20px;
  }
  
  .button-consultation,
  .button-team {
      font-size: 0.9rem;
      padding: 8px 16px;
  }
  
  .banner-image {
      max-height: 60vh; /* Adjusted for smaller screens */
      margin-bottom: 10px; /* Reduce bottom margin */
  }
}

@media (min-width: 768px) {
  .banner-image {
      clip-path: polygon(
          30% 0%,
          100% 0%,
          100% 100%,
          0% 100%,
          30% 40%
      );
  }
}

@media (min-width: 992px) {
  .text-content h1 {
      font-size: 3rem;
  }
  
  .text-content p {
      font-size: 1.4rem;
  }
}
