/* Track Record Section */
.track-record-section {
    background-color: rgb(196, 195, 226);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
  }
  
  .track-record-section .col {
    text-align: center;
  }
  