.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .icon {
    font-size: 2rem;
    color: #007bff;
  }
  
  .card-info {
    flex-grow: 1; /* Allow the info to grow and push down the rest */
    text-align: start;
    margin-bottom: 15px;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    margin-bottom: 10px;
  }
  
  .learn-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .learn-more::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .learn-more:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  